body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* roboto-regular - cyrillic--latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic--latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('fonts/roboto-v20-cyrillic--latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v20-cyrillic--latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* roboto-italic - cyrillic--latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic--latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('fonts/roboto-v20-cyrillic--latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v20-cyrillic--latin-italic.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - cyrillic--latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-cyrillic--latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('fonts/roboto-v20-cyrillic--latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v20-cyrillic--latin-700.woff') format('woff'), /* Modern Browsers */
}

.main-screen__title {
  font-size: 70px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 26px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.main-screen {
  overflow: hidden;
}

.main-screen__container {
  position: relative;
  height: 573px;
  padding: 80px 100px 0;
  z-index: 5;
}

.main-screen__elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.elements__item {
  position: absolute;
  z-index: 1;
  margin: 0;
  background: linear-gradient(to right top, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elements__item--parenthesis-gradient {
  top: 0px;
  left: -194px;
  transform: rotate(26deg);
  font-size: 48px;
  font-weight: 700;
}

.elements__item--div1-gradient {
  top: 6px;
  left: 367px;
  transform: rotate(-23deg);
  font-size: 32px;
  font-weight: 700;
}

.elements__item--diez-gradient {
  top: 166px;
  left: -100px;
  transform: rotate(-170deg);
  font-size: 49px;
  font-weight: 600;
}

.elements__item--div2-gradient {
  top: 342px;
  left: 529px;
  transform: rotate(16deg);
  font-size: 49px;
  font-weight: 700;
}

.elements__item--solidus-gradient {
  top: 466px;
  left: 100px;
  transform: rotate(-12deg);
  font-size: 49px;
  font-weight: 800;
}

.button-orange {
  display: block;
  background: #ff4e2e;
  border: none;
  color: white;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  font-size: 13px;
  height: 55px;
  width: 224px;
  cursor: pointer;
}

.button-orange--middle {
  margin: 0 auto;
}

.main-screen__button {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.main-screen__photo {
  top: 21px;
  right: -397px;
}

.photo {
  position: absolute;
  z-index: 1;
  width: 920px;
  height: 651px;
  background: url(../img/Ellipse.png) no-repeat;
}

.main-screen__photo > img {
  padding-left: 100px;
}

.main-screen__subtitle {
  color: grey;
  font-size: 18px;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding: 30px 20px 0;
  margin-bottom: 60px;
}

.header__menu {
  margin-right: auto;
}

.header__humb {
  display: none;
}

.menu-list {
  list-style:none;
}

.menu-list__row {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.menu-list__link {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.menu-list__link:hover {
  color: #f82370;
  text-decoration: underline;
}

.menu-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer-menu__item {
  list-style-type: none;
  text-decoration: none;
  color: grey;
  font-size: 16px;
}

.footer-menu__item:hover {
  color: #f82370;
  text-decoration: underline;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header__phone {
  list-style-type: none;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.header__button {
  cursor: pointer;
  height: 55px;
  width: 224px;
  border-color: #f82370;
  margin: 0;
  color: #f82370;
  background: transparent;
}

.header-contacts__button--bottom {
  background: none;
  border-color: #f82370;
  margin: 0;
  color: #f82370;
}

#small-tel-logo {
  display: none;
}

.works__wrap {
  padding: 20px;
  margin-bottom: 40px;
}

.works-list__item {
  display: block;
  padding: 0 15px;
  color: grey;
  font-size: 18px;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 30px 0;
  font-size: 35px;
  font-weight: 800;
}

.works__bar {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  flex-wrap: wrap;
  padding: 0;
}

.works-list__item--first {
  background-image: url(../img/icons/tools.png);
}

.works-list__item--second {
  background-image: url(../img/icons/responsive_2.png);
}

.works-list__item--theard {
  background-image: url(../img/icons/programming.png);
}

.works-list__item--fourth {
  background-image: url(../img/icons/coding.png);
}

.works-list__item {
  width: 260px;
  list-style: none;
  padding-top: 90px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.my-jobs__wrap {
  margin: 0 auto 40px;
  max-width: 1170px;
  position: relative;
  padding: 20px;
}

.slider__subtitle {
  text-align: center;
  margin: 0;
  font-size: 35px;
  font-weight: 800;
}

.slider__wrap {
  width: 1170px;
  height: 324px;
  margin: 10px auto 50px;
  overflow: hidden;
}

.slider__list {
  width: 2700px;
  transition: all 1s ease 0s;
}

.slider__button {
  position: absolute;
  border-radius: 50%;
  height: 61px;
  width: 61px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../img/icons/arrow.png);
  padding: 0;
}

.slider__button--left {
  top: 150px;
  left: -10px;
  box-shadow: 5px 5px 10px 0 black;
}

.slider__button--right {
  top: 150px;
  right: -10px;
  box-shadow: -5px -5px 10px 0 black;
  transform: rotate(-180deg);

}

.slider__item {
  margin-right: 40px;
}

.example {
  width: 360px;
  display: inline-block;
}

.example__img {
  max-height: 280px;
  width: 100%;
  object-fit: contain;
}

.slider__paginator {
  display: none;
  width: 90px;
  padding: 0;
  margin: 0 auto 40px;
}

.control__item {
  background-image: url(../img/icons/paginator-1.png);
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: none;
  outline: none;
}

.control__item:not(:last-child) {
  margin-right: 30px;
}

.control__item:hover {
  background-image: url(../img/icons/paginator-2.png);
}

.work-solution-centre span {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: grey;
}

.example__text {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: grey;
  font-size: 18px;
}

.price {
  background: linear-gradient(to right top, #ff8f5a, #ff2f96) ;
  overflow: hidden;
}

.price__wrap {
  max-width: 780px;
  padding: 88px 0;
  position: relative;
}

.price__subtitle {
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 0;
}

.price__text {
  color: white;
  font-size: 16px;
  margin: 0;
}

.price-container-elements__item {
  position: absolute;
  color: white;
  z-index: 1;
  margin: 0;
}

.price-container__parenthesis {
  top: 47px;
  left: -403px;
  transform: rotate(26deg);
  font-size: 48px;
  font-weight: 600;
}

.price-container__div1 {
  top: 243px;
  right: -16px;
  transform: rotate(26deg);
  font-size: 35px;
  font-weight: 400;
}

.price-container__diez {
  top: 222px;
  left: -293px;
  transform: rotate(26deg);
  font-size: 30px;
  font-weight: 400;
}

.price-container__solidus {
  top: 78px;
  right: -193px;
  transform: rotate(-9deg);
  font-size: 35px;
  font-weight: 400;
}

.price-container__div2 {
  top: 192px;
  right: -385px;
  transform: rotate(-9deg);
  font-size: 48px;
  font-weight: 400;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px;
}

.footer__button {
  background: none;
  border-color: #f82370;
  padding: 0;
  margin-bottom: 30px;
  color: #f82370;
  cursor: pointer;
  height: 55px;
  width: 224px;
}

.footer__menu {
  margin:0;
  list-style:none;
  padding-left: 0;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 11px;
}

.footer__right-column {
  color: black;
  list-style-type: none;
  text-decoration: none;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.footer__right-column li:not(:last-child) {
  margin-bottom: 30px;
}

.footer-contacts__item {
  color: black;
  list-style-type: none;
  text-decoration: none;
  padding-left: 30px;
  background-image: url(../img/icons/phone.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.footer-contacts__item--mail {
  background-image: url(../img/icons/mail.png);
}

.social {
  margin: 0;
  padding: 0;
}

.social li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.social__item {
  background-image: url(../img/social.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}


.social__item--vk {
  background-position: -259px -105px;
}

.social__item--facebook {
  background-position: -14px -38px;
}

.social__item--twitter {
  background-position: -74px -38px;
}

.social__item--instagram {
  background-position: -135px -38px;
}

.desc__phone {
  margin-bottom: 30px;
}

.footer__company-info {
  background-color: #412C84;
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 20px 0;
  margin: 0;
}

@media (min-width: 990px) and (max-width: 1369px) {

.container {
  max-width: 945px;
}

.main-screen__title {
  font-size: 47px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 26px;
}

.header__menu {
  display: none;
}

.main-screen__container {
  padding: 0 20px;
  padding-top: 80px;
}

.elements__item--parenthesis-gradient {
  top: 0px;
  left: 61px;
}

.elements__item--diez-gradient {
  top: 443px;
  left: 13px;
}

.elements__item--div2-gradient {
  top: 297px;
  left: 386px;
}

.elements__item--solidus-gradient {
  top: -12px;
  left: 800px;
}

.header__humb {
  display: block;
  cursor: pointer;
  background-image: url(../img/icons/hambgr.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  padding: 0;
  margin-right: auto;
}

.menu-list {
  display: none;
}

.works__bar {
  margin: 0 auto 30px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

.slider__wrap {
  width: 800px;
}

.slider__item {
  margin-right: 80px;
}

.price-container__parenthesis {
  top: 14px;
  left: 47px;
}

.price-container__div1 {
  top: 259px;
  right: 105px;
}

.price-container__solidus {
  top: 10px;
  right: 39px;
}

.price-container__div2 {
  display: none;
}

.price-container__diez {
  display: none;
}

.slider__button {
  display: none;
}

.slider__paginator {
  display: flex;
}

.control__item {
  display: block;
}

}

@media (min-width: 50px) and (max-width: 989px) {

main {
  padding-top: 30px;
}

.container {
  max-width: 280px;
}

.header__menu {
  display: none;
}

.main-screen__container {
  height: auto;
  padding: 359px 20px 0;
  background-size: auto 300px;
  background-position: top 50px right;
  margin: 0 auto;
  overflow: hidden;
}

.main-screen__button {
  margin: 30px auto 0;
}

.elements__item--parenthesis-gradient {
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 600;
}

.elements__item--diez-gradient {
  top: 71px;
  left: 37px;
  font-size: 30px;
  font-weight: 600;
}

.elements__item--div1-gradient {
  left: 239px;
  transform: rotate(16deg);
  font-size: 22px;
  font-weight: 600;
}

.elements__item--div2-gradient {
  display: none;
}

.elements__item--solidus-gradient {
  top: 0;
  left: 148px;
  font-size: 30px;
  font-weight: 600;
}

.header__humb {
  display: block;
  cursor: pointer;
  background-image: url(../img/icons/small-hambgr.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  height: 20px;
  width: 20px;
  border: none;
  padding: 0;
}

.header-contacts {
  width: 100%;
}

.header__phone {
  margin: 0 auto;
}

.menu-list {
  display: none;
}

.works__bar {
  margin: 0 auto 30px;
}

.header__button--icon {
  background-image: url(../img/icons/mobile-icon.png);
  height: 26px;
  width: 26px;
  padding: 0;
  font-size: 0;
  border: transparent;
}

.main-screen__subtitle {
  display: block;
  text-align: center;
}

.main-screen__title {
  font-size: 25px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 26px;
  text-align: center;
  padding-top: 0;
}

.main-screen__photo {
  top: 44px;
  right: -123px;
}

.photo {
  height: 300px;
  width: 436px;
  background-size: cover;
}

.main-screen__photo > img {
  height: 300px;
}

.more-info {
  margin: 30px auto;
}

.works__subtitle {
  font-size: 25px;
  font-weight: 800;
}

.works__wrap {
  padding: 20px;
}

.slider__subtitle {
  font-size: 25px;
  font-weight: 800;
}

.slider__wrap {
  width: 360px;
}

.example__img {
  max-height: 270px;
}

.works-list__item {
  width: 280px;
}

.slider__button {
  display: none;
}

.slider__paginator {
  display: flex;
}

.control__item {
  display: block;
}

.slider__list {
  padding: 0;
  margin: 0;
}

.slider__item:nth-child(1) {
  display: none;
}

.slider__item:nth-child(3) {
  display: none;
}

.slider__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}

.example__text {
  font-size: 18px;
}

.price__wrap {
  max-width: 280px;
  padding: 40px 20px;
}

.price__subtitle {
  font-size: 26px;
}

.price-container__parenthesis {
  display: none;
}

.price-container__div1 {
  display: none;
}

.price-container__solidus {
  display: none;
}

.price-container__div2 {
  display: none;
}

.price-container__diez {
  display: none;
}

.desc__phone {
  margin-bottom: 12px;
}

.footer__wrap {
  display: block;
  height: auto;
  padding: 0 20px;
  margin: 20px auto 0;
}

.header__button--bottom {
  display: block;
  background: #ff4e2e;
  border: none;
  color: white;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  line-height: 55px;
  font-size: 13px;
  height: 55px;
  width: 224px;
  cursor: pointer;
}

.footer__menu {
  margin-bottom: 30px;
}

.footer__right-column {
  margin-bottom: 30px;
}

.footer__social {
  margin: 0 auto;
}

.social {
  margin-bottom: 30px;
}

}
